/* first line styles */
.head-trendyol {
  font-family: "Roboto Condensed";
  font-size: 25px;
  display: flex;
  padding: 20px;
}
.header-left {
  font-family: "Roboto Condensed";
  font-size: 20px;
  display: flex;
  justify-content: right;
  align-items: self-end;
  margin-right: 100px;
  gap: 20px;
}
.join {
  text-decoration: none;
}
/* navigation menu */
.main-nav {
  background-color: rgb(233, 223, 223);
  height: 50px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
}
.main-list {
  font-family: "Roboto Condensed";
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 200px;
  padding-right: 200px;
  text-decoration: none;
}
.shipping {
  background-color: rgb(236, 76, 17);
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
}
/* background */
.first_bg {
  height: 500px;
  width: 100%;
  background-color: rgb(221, 241, 241);
  background-image: url("../images/girls.PNG");
  background-size: cover;
  margin-bottom: 30px;
}
.purple {
  height: 2000px;
  width: 100%;
  background-color: #8f0133;
}
.personal {
  font-family: "Roboto Condensed";
  font-size: 38px;
  font-weight: 500px;
  color: #222222;
}
