/* first line styles */
.head-trendyol {
  font-family: "Roboto Condensed";
  font-size: 25px;
  display: flex;
  padding: 20px;
}
.header-left {
  font-family: "Roboto Condensed";
  font-size: 20px;
  display: flex;
  justify-content: right;
  align-items: self-end;
  margin-right: 100px;
  gap: 20px;
}
.join {
  text-decoration: none;
}
